<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <title>@ViewBag.Title</title>
    <style>
        body{
            padding-top: 70px;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("AddressBook", "Search", new { Controller = "Addresses" }, new { @class = "navbar-brand" })
            </div>
            <div class="nav navbar-nav">
                @Html.ActionLink("グループ管理", "Index", new { Controller = "Groups" }, null)
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
